*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
/sdkui/build
/app/schemas